.navbar {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  font-family: Poppins, sans-serif;
}

.nav-title {
  font-size: 22px;
  font-weight: 600;
}

/* Center Links */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.3s;
}

.nav-links a:hover {
  opacity: 0.7;
}

.nav-links .active {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
  opacity: 1;
}

/* Right side actions */
.nav-actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icon-btn {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.icon-btn:hover {
  opacity: 0.7;
}

.logout-text-btn {
  background: transparent;
  border: 1px solid #fff;
  padding: 6px 14px;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-text-btn:hover {
  background: #fff;
  color: #000;
}
