.trip-page-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  padding: 20px;
}

.trip-card-container {
  margin-top: 80px;
  flex: 1;
}

.trip-chat-container {
  width: 380px;
  flex-shrink: 0;
  position: sticky;
  top: 100px;
  
}

@media (max-width: 1024px) {
  .trip-chat-container{
    position: absolute;
  }
}